In [64]:
# Se importan las librerías necesarias:
import pandas as pd

## Atributos Yelp

In [65]:
# Se carga el Dataframe:
atrib_yelp = pd.read_parquet("Data/Atributos_Restaurantes_Yelp.parquet")
atrib_yelp.head()

,business_id,Alcohol,RestaurantsTakeOut,BusinessAcceptsCreditCards,GoodForKids,RestaurantsGoodForGroups,RestaurantsReservations,OutdoorSeating,RestaurantsPriceRange2,BikeParking,...,BusinessAcceptsBitcoin,BYOB,Corkage,Music,BestNights,BYOBCorkage,CoatCheck,GoodForDancing,Smoking,RestaurantsCounterService
0,du_yelFmWOZDEyIAE-jdsQ,u'none',True,True,True,True,False,False,1,True,...,None,None,None,None,None,None,None,None,None,None
1,k9A4tAmei12tLprkrNPkcg,u'none',True,True,True,True,False,False,1,True,...,None,None,None,None,None,None,None,None,None,None
2,ERl6OCSEIFBOqfjai_jIUg,u'full_bar',True,True,True,True,True,False,2,True,...,None,None,None,None,None,None,None,None,None,None
3,VaPj2Mpu0IpsUoisyTCAUg,u'none',False,True,True,True,False,None,1,None,...,None,None,None,None,None,None,None,None,None,None
4,Qi-A4ZgcEuSnq_8Fpfo_3Q,u'beer_and_wine',True,False,True,True,False,True,1,True,...,None,None,None,None,None,None,None,None,None,None

In [66]:
# Se controla la info general del dataset
atrib_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 128 non-null    object
 1   Alcohol                     95 non-null     object
 2   RestaurantsTakeOut          117 non-null    object
 3   BusinessAcceptsCreditCards  107 non-null    object
 4   GoodForKids                 94 non-null     object
 5   RestaurantsGoodForGroups    95 non-null     object
 6   RestaurantsReservations     102 non-null    object
 7   OutdoorSeating              106 non-null    object
 8   RestaurantsPriceRange2      97 non-null     object
 9   BikeParking                 94 non-null     object
 10  BusinessParking             102 non-null    object
 11  GoodForMeal                 85 non-null     object
 12  RestaurantsAttire           86 non-null     object
 13  RestaurantsDelivery         118 non-null    object
 14  NoiseLevel                  76 non-null     object
 15  Caters                      90 non-null     object
 16  HasTV                       107 non-null    object
 17  DriveThru                   30 non-null     object
 18  Ambience                    103 non-null    object
 19  WiFi                        90 non-null     object
 20  DogsAllowed                 29 non-null     object
 21  HappyHour                   34 non-null     object
 22  RestaurantsTableService     51 non-null     object
 23  ByAppointmentOnly           6 non-null      object
 24  WheelchairAccessible        33 non-null     object
 25  BusinessAcceptsBitcoin      14 non-null     object
 26  BYOB                        18 non-null     object
 27  Corkage                     9 non-null      object
 28  Music                       9 non-null      object
 29  BestNights                  6 non-null      object
 30  BYOBCorkage                 2 non-null      object
 31  CoatCheck                   3 non-null      object
 32  GoodForDancing              6 non-null      object
 33  Smoking                     3 non-null      object
 34  RestaurantsCounterService   1 non-null      object
dtypes: object(35)
memory usage: 35.1+ KB

In [67]:
# Se controlan cuales son los atributos incluidos:
atrib_yelp.columns

Index(['business_id', 'Alcohol', 'RestaurantsTakeOut',
       'BusinessAcceptsCreditCards', 'GoodForKids', 'RestaurantsGoodForGroups',
       'RestaurantsReservations', 'OutdoorSeating', 'RestaurantsPriceRange2',
       'BikeParking', 'BusinessParking', 'GoodForMeal', 'RestaurantsAttire',
       'RestaurantsDelivery', 'NoiseLevel', 'Caters', 'HasTV', 'DriveThru',
       'Ambience', 'WiFi', 'DogsAllowed', 'HappyHour',
       'RestaurantsTableService', 'ByAppointmentOnly', 'WheelchairAccessible',
       'BusinessAcceptsBitcoin', 'BYOB', 'Corkage', 'Music', 'BestNights',
       'BYOBCorkage', 'CoatCheck', 'GoodForDancing', 'Smoking',
       'RestaurantsCounterService'],
      dtype='object')

In [68]:
# Seleccionamos los atributos que vamos a analizar:
atrib_yelp_filter = atrib_yelp[["business_id", "WheelchairAccessible", "OutdoorSeating", "DriveThru", "RestaurantsTakeOut", "RestaurantsDelivery", "WiFi"]]
atrib_yelp_filter.head()

,business_id,WheelchairAccessible,OutdoorSeating,DriveThru,RestaurantsTakeOut,RestaurantsDelivery,WiFi
0,du_yelFmWOZDEyIAE-jdsQ,None,False,None,True,True,None
1,k9A4tAmei12tLprkrNPkcg,None,False,True,True,True,'no'
2,ERl6OCSEIFBOqfjai_jIUg,None,False,None,True,True,u'free'
3,VaPj2Mpu0IpsUoisyTCAUg,None,None,None,False,False,u'no'
4,Qi-A4ZgcEuSnq_8Fpfo_3Q,None,True,None,True,False,'no'

In [69]:
# Reemplazamos los valores nulos por cero:
atrib_yelp_filter = atrib_yelp_filter.fillna(0)
atrib_yelp_filter.isnull().sum()

business_id             0
WheelchairAccessible    0
OutdoorSeating          0
DriveThru               0
RestaurantsTakeOut      0
RestaurantsDelivery     0
WiFi                    0
dtype: int64

In [70]:
# Se cambian todos los valores True por 1 y los False por 0:
atrib_yelp_filter = atrib_yelp_filter.replace({"True": 1, "False": 0, "None": 0})
atrib_yelp_filter.head()

,business_id,WheelchairAccessible,OutdoorSeating,DriveThru,RestaurantsTakeOut,RestaurantsDelivery,WiFi
0,du_yelFmWOZDEyIAE-jdsQ,0,0,0,1,1,0
1,k9A4tAmei12tLprkrNPkcg,0,0,1,1,1,'no'
2,ERl6OCSEIFBOqfjai_jIUg,0,0,0,1,1,u'free'
3,VaPj2Mpu0IpsUoisyTCAUg,0,0,0,0,0,u'no'
4,Qi-A4ZgcEuSnq_8Fpfo_3Q,0,1,0,1,0,'no'

In [71]:
# Se controla que hay en la columna "Wifi":
atrib_yelp_filter["WiFi"].value_counts()

WiFi
0          38
u'no'      29
u'free'    27
'no'       21
'free'     12
u'paid'     1
Name: count, dtype: int64

In [72]:
# Se crea una funcion para reemplazar los valores de la columna
def wifi_reemp(valor):
    if valor in ["'no'", "u'no'"]:
        valor = 0
    else:
        valor = 1
    return valor

In [73]:
# Se aplica la funcion creada anteriormente para reemplazar los valores:
atrib_yelp_filter["WiFi"] = atrib_yelp_filter["WiFi"].apply(wifi_reemp)
atrib_yelp_filter["WiFi"].value_counts()

WiFi
1    78
0    50
Name: count, dtype: int64

In [74]:
# Se controla la info general del dataframe
atrib_yelp_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   business_id           128 non-null    object
 1   WheelchairAccessible  128 non-null    int64
 2   OutdoorSeating        128 non-null    int64
 3   DriveThru             128 non-null    int64
 4   RestaurantsTakeOut    128 non-null    int64
 5   RestaurantsDelivery   128 non-null    int64
 6   WiFi                  128 non-null    int64
dtypes: int64(6), object(1)
memory usage: 7.1+ KB

In [109]:
# Se modifica el dataframe para luego ser filtrado:
atrib_yelp_final = atrib_yelp_filter.melt(id_vars= "business_id",   
                                   var_name='Attribute_orig', value_name='Is_true') # se pasan las columnas a filas
atrib_yelp_final.head()

              business_id        Attribute_orig  Is_true
0  du_yelFmWOZDEyIAE-jdsQ  WheelchairAccessible        0
1  k9A4tAmei12tLprkrNPkcg  WheelchairAccessible        0
2  ERl6OCSEIFBOqfjai_jIUg  WheelchairAccessible        0
3  VaPj2Mpu0IpsUoisyTCAUg  WheelchairAccessible        0
4  Qi-A4ZgcEuSnq_8Fpfo_3Q  WheelchairAccessible        0

In [110]:
atrib_yelp_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   business_id     768 non-null    object
 1   Attribute_orig  768 non-null    object
 2   Is_true         768 non-null    int64
dtypes: int64(1), object(2)
memory usage: 18.1+ KB

In [111]:
# Se filtran los atributos existentes únicamente:
atrib_yelp_final = atrib_yelp_final[atrib_yelp_final["Is_true"] == 1].reset_index(drop=True)
atrib_yelp_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   business_id     365 non-null    object
 1   Attribute_orig  365 non-null    object
 2   Is_true         365 non-null    int64
dtypes: int64(1), object(2)
memory usage: 8.7+ KB

In [112]:
# Se elimina la columna "Is_true":
atrib_yelp_final.drop(columns="Is_true", inplace=True)

Ahora vamos a regularizar los nombres de los atributos, para luego unirlos a los de Google:

In [113]:
# Creamos una función para regularizar los atributos en distintas categorías:
def regu_atrib_yelp(atributo):
    if atributo == "WheelchairAccessible":
        atributo_reg = "Wheelchair accessible"
    elif atributo == "OutdoorSeating":
        atributo_reg = "Outdoor seating"
    elif atributo == 'DriveThru':
        atributo_reg = 'Drive-through'
    elif atributo == "RestaurantsTakeOut":
        atributo_reg = 'Takeout/Takeaway'
    elif atributo == 'RestaurantsDelivery':
        atributo_reg = 'Delivery'
    elif atributo == 'WiFi':
        atributo_reg = 'Wi-Fi'
    
    return atributo_reg

In [114]:
# Se crea la columna "Attributes" utilizando la función creada anteriormente:
atrib_yelp_final["Attributes"] = atrib_yelp_final["Attribute_orig"].apply(regu_atrib_yelp)
atrib_yelp_final.head()

              business_id        Attribute_orig             Attributes
0  IwqFmo-RJs15WvA8PVHFnA  WheelchairAccessible  Wheelchair accessible
1  JhwFBmMtZUejWLuEQfGoTg  WheelchairAccessible  Wheelchair accessible
2  lOX7LiFDr4FEUZX5AWjXag  WheelchairAccessible  Wheelchair accessible
3  8agPzX-O-8LEDjDNloSdzQ  WheelchairAccessible  Wheelchair accessible
4  E2RHAkI4wasggwV9rYb-Fw  WheelchairAccessible  Wheelchair accessible

## Atributos Google:

In [76]:
# Se carga el Dataframe:
atrib_google = pd.read_parquet("Data/Atributos_Restaurantes_Google.parquet")
atrib_google.head()

,gmap_id,Accessibility,Activities,Amenities,Atmosphere,Crowd,Dining options,From the business,Getting here,Health & safety,Health and safety,Highlights,Lodging options,Offerings,Payments,Planning,Popular for,Recycling,Service options
0,0x80c2c778e3b73d33:0xbdc58662a4a97d49,[Wheelchair accessible entrance],None,[Good for kids],[Casual],None,None,None,None,None,None,None,NaN,[Comfort food],None,None,None,None,"[Takeout, Dine-in, Delivery]"
1,0x80c2c632f933b073:0xc31785961fe826a6,None,None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,[In-store pickup]
2,0x80c2cf163db6bc89:0x219484e2edbcfa41,[Wheelchair accessible entrance],None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None
3,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,[Wheelchair accessible entrance],None,[Good for kids],[Casual],[College students],"[Lunch, Dinner]",None,None,"[Mask required, Staff wear masks, Staff requir...",None,None,NaN,"[Comfort food, Quick bite, Small plates]",None,None,"[Lunch, Dinner, Solo dining]",None,"[Outdoor seating, Curbside pickup, No-contact ..."
4,0x80960c29f2e3bf29:0x4b291f0d275a5699,[Wheelchair accessible entrance],None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None

In [77]:
# Se controla la info gral del dataset:
atrib_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73332 entries, 0 to 73331
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gmap_id            73332 non-null  object
 1   Accessibility      59900 non-null  object
 2   Activities         33 non-null     object
 3   Amenities          19822 non-null  object
 4   Atmosphere         7718 non-null   object
 5   Crowd              6331 non-null   object
 6   Dining options     6155 non-null   object
 7   From the business  2363 non-null   object
 8   Getting here       9 non-null      object
 9   Health & safety    14321 non-null  object
 10  Health and safety  893 non-null    object
 11  Highlights         8562 non-null   object
 12  Lodging options    0 non-null      float64
 13  Offerings          15609 non-null  object
 14  Payments           16915 non-null  object
 15  Planning           24887 non-null  object
 16  Popular for        6734 non-null   object
 17  Recycling          67 non-null     object
 18  Service options    30540 non-null  object
dtypes: float64(1), object(18)
memory usage: 10.6+ MB

In [78]:
# Se controla cuales son los atributos incluidos:
atrib_google.columns

Index(['gmap_id', 'Accessibility', 'Activities', 'Amenities', 'Atmosphere',
       'Crowd', 'Dining options', 'From the business', 'Getting here',
       'Health & safety', 'Health and safety', 'Highlights', 'Lodging options',
       'Offerings', 'Payments', 'Planning', 'Popular for', 'Recycling',
       'Service options'],
      dtype='object')

In [79]:
# Se controla la cantidad de valores nulos por columna:
atrib_google.isnull().sum().sort_values(ascending=False)

Lodging options      73332
Getting here         73323
Activities           73299
Recycling            73265
Health and safety    72439
From the business    70969
Dining options       67177
Crowd                67001
Popular for          66598
Atmosphere           65614
Highlights           64770
Health & safety      59011
Offerings            57723
Payments             56417
Amenities            53510
Planning             48445
Service options      42792
Accessibility        13432
gmap_id                  0
dtype: int64

Como podemos observar existe una gran cantdidad de valores nulos. 

A continuación, buscamos encontrar los mismos atributos que filtramos para los restaurantes de Yelp:

In [80]:
# Controlamos que hay en "accessibility":
atrib_google["Accessibility"]

0                         [Wheelchair accessible entrance]
1                                                     None
2                         [Wheelchair accessible entrance]
3                         [Wheelchair accessible entrance]
4                         [Wheelchair accessible entrance]
                               ...
73327                     [Wheelchair accessible entrance]
73328                                                 None
73329                                                 None
73330                     [Wheelchair accessible entrance]
73331    [Wheelchair-accessible car park, Wheelchair-ac...
Name: Accessibility, Length: 73332, dtype: object

### Accessibility:

In [81]:
# Se realiza la apertura de la columna:
accessibility = atrib_google[["gmap_id", "Accessibility"]]
accessibility = accessibility.explode("Accessibility")
accessibility = accessibility.reset_index(drop=True)
accessibility.head()

                                 gmap_id                   Accessibility
0  0x80c2c778e3b73d33:0xbdc58662a4a97d49  Wheelchair accessible entrance
1  0x80c2c632f933b073:0xc31785961fe826a6                            None
2  0x80c2cf163db6bc89:0x219484e2edbcfa41  Wheelchair accessible entrance
3  0x80dd2b4c8555edb7:0xfc33d65c4bdbef42  Wheelchair accessible entrance
4  0x80960c29f2e3bf29:0x4b291f0d275a5699  Wheelchair accessible entrance

In [82]:
accessibility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87494 entries, 0 to 87493
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gmap_id        87494 non-null  object
 1   Accessibility  74062 non-null  object
dtypes: object(2)
memory usage: 1.3+ MB

In [83]:
# Se controlan las opciones de accesibilidad:
accessibility["Accessibility"].value_counts()

Accessibility
Wheelchair accessible entrance       57511
Wheelchair accessible parking lot     6534
Wheelchair accessible restroom        4133
Wheelchair-accessible entrance        1723
Wheelchair accessible seating         1365
Wheelchair accessible elevator        1105
Wheelchair-accessible car park         673
Wheelchair-accessible toilet           443
Wheelchair-accessible seating          398
Passenger loading area                 100
Wheelchair-accessible lift              72
Wheelchair rental                        3
Assisted listening devices               1
Assistive hearing loop                   1
Name: count, dtype: int64

In [84]:
# Filtramos todas aquellas categorías que contengan "Wheelchair accesible"
mascara = (accessibility["Accessibility"].str.contains("Wheelchair accessible")) | (accessibility["Accessibility"].str.contains("Wheelchair-accessible"))

accessibility = accessibility[mascara].reset_index(drop=True)
accessibility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73957 entries, 0 to 73956
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gmap_id        73957 non-null  object
 1   Accessibility  73957 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [85]:
# Se controla si hay valores duplicados:
accessibility.duplicated().sum()

0

In [86]:
# Se cambia el nombre de la columna "Accessibility":
accessibility = accessibility.rename(columns={"Accessibility":"Attribute_orig"})
accessibility.head()

                                 gmap_id                  Attribute_orig
0  0x80c2c778e3b73d33:0xbdc58662a4a97d49  Wheelchair accessible entrance
1  0x80c2cf163db6bc89:0x219484e2edbcfa41  Wheelchair accessible entrance
2  0x80dd2b4c8555edb7:0xfc33d65c4bdbef42  Wheelchair accessible entrance
3  0x80960c29f2e3bf29:0x4b291f0d275a5699  Wheelchair accessible entrance
4  0x809b1ff6d3a60c4d:0xdf08e68028807693  Wheelchair accessible entrance

### Service options:

In [87]:
# Controlamos que hay en "Service options":
atrib_google["Service options"]

0                             [Takeout, Dine-in, Delivery]
1                                        [In-store pickup]
2                                                     None
3        [Outdoor seating, Curbside pickup, No-contact ...
4                                                     None
                               ...
73327                                                 None
73328                                                 None
73329                  [Online estimates, Onsite services]
73330    [Curbside pickup, Delivery, In-store pickup, I...
73331                                                 None
Name: Service options, Length: 73332, dtype: object

In [88]:
# Se realiza la apertura de la columna:
service_options = atrib_google[["gmap_id", "Service options"]]
service_options = service_options.explode("Service options")
service_options = service_options.reset_index(drop=True)
service_options.head()

                                 gmap_id  Service options
0  0x80c2c778e3b73d33:0xbdc58662a4a97d49          Takeout
1  0x80c2c778e3b73d33:0xbdc58662a4a97d49          Dine-in
2  0x80c2c778e3b73d33:0xbdc58662a4a97d49         Delivery
3  0x80c2c632f933b073:0xc31785961fe826a6  In-store pickup
4  0x80c2cf163db6bc89:0x219484e2edbcfa41             None

In [89]:
service_options.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117559 entries, 0 to 117558
Data columns (total 2 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gmap_id          117559 non-null  object
 1   Service options  74767 non-null   object
dtypes: object(2)
memory usage: 1.8+ MB

In [90]:
# Se controlan las opciones de accesibilidad:
service_options["Service options"].value_counts()

Service options
Delivery               22489
In-store shopping      16414
Takeout                 8736
In-store pickup         6468
Dine-in                 5571
Curbside pickup         4880
Outdoor seating         2003
No-contact delivery     1909
Same-day delivery       1481
Onsite services          927
Takeaway                 918
Drive-through            736
Online appointments      628
Online care              611
Online estimates         378
In-store pick-up         247
Online classes           206
Outdoor services         129
Language assistance       33
On-site services           3
Name: count, dtype: int64

In [91]:
# Filtramos los mismos atributos que filtramos en Yelp:
lista_atrib = ["Outdoor seating", "Outdoor services", "Drive-through", "Takeout", "Takeaway", "Delivery"]
service_options =  service_options[service_options["Service options"].isin(lista_atrib)].reset_index(drop=True)
service_options.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35011 entries, 0 to 35010
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gmap_id          35011 non-null  object
 1   Service options  35011 non-null  object
dtypes: object(2)
memory usage: 547.2+ KB

In [92]:
# Se cambia el nombre de la columna "Service options":
service_options = service_options.rename(columns={"Service options":"Attribute_orig"})
service_options.head()

                                 gmap_id   Attribute_orig
0  0x80c2c778e3b73d33:0xbdc58662a4a97d49          Takeout
1  0x80c2c778e3b73d33:0xbdc58662a4a97d49         Delivery
2  0x80dd2b4c8555edb7:0xfc33d65c4bdbef42  Outdoor seating
3  0x80dd2b4c8555edb7:0xfc33d65c4bdbef42         Delivery
4  0x80dd2b4c8555edb7:0xfc33d65c4bdbef42          Takeout

### Amenities:

In [93]:
# Controlamos que hay en "Amenities":
atrib_google["Amenities"]

0        [Good for kids]
1                   None
2                   None
3        [Good for kids]
4                   None
              ...
73327               None
73328               None
73329               None
73330            [Wi-Fi]
73331    [Good for kids]
Name: Amenities, Length: 73332, dtype: object

Como podemos observar, todos los dataframes contienen listas de valores.

In [94]:
# Se realiza la apertura de la columna:
amenities = atrib_google[["gmap_id", "Amenities"]]
amenities = amenities.explode("Amenities")
amenities = amenities.reset_index(drop=True)
amenities.head()

                                 gmap_id      Amenities
0  0x80c2c778e3b73d33:0xbdc58662a4a97d49  Good for kids
1  0x80c2c632f933b073:0xc31785961fe826a6           None
2  0x80c2cf163db6bc89:0x219484e2edbcfa41           None
3  0x80dd2b4c8555edb7:0xfc33d65c4bdbef42  Good for kids
4  0x80960c29f2e3bf29:0x4b291f0d275a5699           None

In [95]:
amenities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81642 entries, 0 to 81641
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gmap_id    81642 non-null  object
 1   Amenities  28132 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [96]:
# Se controlan las opciones de amenities:
amenities["Amenities"].value_counts()

Amenities
Good for kids              9863
Restroom                   5369
Mechanic                   3747
Wi-Fi                      2733
High chairs                2203
Gender-neutral restroom    1886
Bar onsite                  715
Public restroom             587
Toilets                     408
Restaurant                  316
Bar on site                 123
Gender-neutral toilets       82
Public toilet                54
Swimming pool                26
Child care                    9
Stadium seating               5
All-inclusive                 3
Baggage storage               2
Golf course                   1
Name: count, dtype: int64

In [97]:
# Filtramos los mismos atributos que filtramos en Yelp:
amenities =  amenities[amenities["Amenities"] == "Wi-Fi"].reset_index(drop=True)
amenities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2733 entries, 0 to 2732
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gmap_id    2733 non-null   object
 1   Amenities  2733 non-null   object
dtypes: object(2)
memory usage: 42.8+ KB

In [98]:
# Se cambia el nombre de la columna "amenities":
amenities = amenities.rename(columns={"Amenities":"Attribute_orig"})
amenities.head()

                                 gmap_id Attribute_orig
0  0x808f85e5192bd809:0x71589abc04eb55b7          Wi-Fi
1  0x80c2c6594138441d:0x59088f7293270c3f          Wi-Fi
2  0x808e33ddbf21555f:0xd5fc40f3f59aa016          Wi-Fi
3  0x809b21179cb43581:0x5c96617136ef0bec          Wi-Fi
4  0x80dcaa0d1ddf644f:0xcd899cd196f42fd5          Wi-Fi

Una vez que contamos con todos los atributos de restaurantes que vamos a utilizar, los unimos en un único dataframe:

In [116]:
attributes_google = pd.concat([accessibility, service_options, amenities], axis=0)
attributes_google = attributes_google.reset_index(drop=True)
attributes_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111701 entries, 0 to 111700
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   gmap_id         111701 non-null  object
 1   Attribute_orig  111701 non-null  object
dtypes: object(2)
memory usage: 1.7+ MB

In [117]:
# Controlamos los atributos contenidos en el df:
attributes_google["Attribute_orig"].unique()

array(['Wheelchair accessible entrance',
       'Wheelchair accessible parking lot',
       'Wheelchair accessible restroom', 'Wheelchair accessible seating',
       'Wheelchair accessible elevator', 'Wheelchair-accessible car park',
       'Wheelchair-accessible entrance', 'Wheelchair-accessible seating',
       'Wheelchair-accessible toilet', 'Wheelchair-accessible lift',
       'Takeout', 'Delivery', 'Outdoor seating', 'Drive-through',
       'Outdoor services', 'Takeaway', 'Wi-Fi'], dtype=object)

In [118]:
# Creamos una función para regularizar los atributos en distintas categorías:
def regu_atrib_google(atributo):
    if atributo in ['Wheelchair accessible entrance',
       'Wheelchair accessible parking lot',
       'Wheelchair accessible restroom', 'Wheelchair accessible seating',
       'Wheelchair accessible elevator', 'Wheelchair-accessible car park',
       'Wheelchair-accessible entrance', 'Wheelchair-accessible seating',
       'Wheelchair-accessible toilet', 'Wheelchair-accessible lift']:
        atributo_reg = "Wheelchair accessible"
    elif atributo in ['Outdoor seating', 'Outdoor services']:
        atributo_reg = "Outdoor seating"
    elif atributo == 'Drive-through':
        atributo_reg = 'Drive-through'
    elif atributo in ['Takeout', 'Takeaway']:
        atributo_reg = 'Takeout/Takeaway'
    elif atributo == 'Delivery':
        atributo_reg = 'Delivery'
    elif atributo == 'Wi-Fi':
        atributo_reg = 'Wi-Fi'
    
    return atributo_reg

In [119]:
# Se crea la columna "Attributes" utilizando la función creada anteriormente:
attributes_google["Attributes"] = attributes_google["Attribute_orig"].apply(regu_atrib_google)
attributes_google.head()

,gmap_id,Attribute_orig,Attributes
0,0x80c2c778e3b73d33:0xbdc58662a4a97d49,Wheelchair accessible entrance,Wheelchair accessible
1,0x80c2cf163db6bc89:0x219484e2edbcfa41,Wheelchair accessible entrance,Wheelchair accessible
2,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,Wheelchair accessible entrance,Wheelchair accessible
3,0x80960c29f2e3bf29:0x4b291f0d275a5699,Wheelchair accessible entrance,Wheelchair accessible
4,0x809b1ff6d3a60c4d:0xdf08e68028807693,Wheelchair accessible entrance,Wheelchair accessible

In [120]:
attributes_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111701 entries, 0 to 111700
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   gmap_id         111701 non-null  object
 1   Attribute_orig  111701 non-null  object
 2   Attributes      111701 non-null  object
dtypes: object(3)
memory usage: 2.6+ MB

# Unión atributos Google-Yelp

Por último, se concatenan los dataframes trabajados en uno sólo:

In [123]:
# Se unifica los nombre de columnas para el restaurant id:
attributes_google = attributes_google.rename(columns={"gmap_id":"id_restaurant"})
atrib_yelp_final = atrib_yelp_final.rename(columns={"business_id":"id_restaurant"})

# Se concatenan los dataframes
attributes = pd.concat([attributes_google, atrib_yelp_final], axis=0)
attributes.head()

,id_restaurant,Attribute_orig,Attributes
0,0x80c2c778e3b73d33:0xbdc58662a4a97d49,Wheelchair accessible entrance,Wheelchair accessible
1,0x80c2cf163db6bc89:0x219484e2edbcfa41,Wheelchair accessible entrance,Wheelchair accessible
2,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,Wheelchair accessible entrance,Wheelchair accessible
3,0x80960c29f2e3bf29:0x4b291f0d275a5699,Wheelchair accessible entrance,Wheelchair accessible
4,0x809b1ff6d3a60c4d:0xdf08e68028807693,Wheelchair accessible entrance,Wheelchair accessible

In [125]:
attributes.reset_index(drop=True, inplace=True)
attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112066 entries, 0 to 112065
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_restaurant   112066 non-null  object
 1   Attribute_orig  112066 non-null  object
 2   Attributes      112066 non-null  object
dtypes: object(3)
memory usage: 2.6+ MB

In [126]:
# Se controla que no haya valores duplicados
attributes.duplicated().sum()

2

In [130]:
# Eliminamos valores duplicados:
attributes.drop_duplicates(inplace=True)
attributes.duplicated().sum()

0

In [132]:
# Por último, exportamos el archivo en formato parquet:
attributes.to_parquet("Attributes_restaurants.parquet")