In [2]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
atributos=pd.read_parquet(r"Data\Attributes_restaurants.parquet")

In [4]:
atributos

,id_restaurant,Attribute_orig,Attributes
0,0x80c2d765f8c90a3d:0x16afb75943e7ad50,Wheelchair accessible entrance,Wheelchair accessible
1,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible entrance,Wheelchair accessible
2,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible parking lot,Wheelchair accessible
3,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible seating,Wheelchair accessible
4,0x80c2c798ad41d859:0x8823cd86d2abd5b3,Wheelchair accessible entrance,Wheelchair accessible
...,...,...,...
5378,0SC3T3NilOSzSnZ3EKEqkA,WiFi,Wi-Fi
5379,EUBYSKbHB26TzCJpmP6y9A,WiFi,Wi-Fi
5380,ICJE_-SCNJAHDtUpK1O0nw,WiFi,Wi-Fi
5381,vyOVT4bcW227LRwJGHTeSw,WiFi,Wi-Fi
5382,y77Rf5aezhj92pi1juN93g,WiFi,Wi-Fi

In [6]:
atributos["Attributes"]

0       Wheelchair accessible
1       Wheelchair accessible
2       Wheelchair accessible
3       Wheelchair accessible
4       Wheelchair accessible
                ...
5378                    Wi-Fi
5379                    Wi-Fi
5380                    Wi-Fi
5381                    Wi-Fi
5382                    Wi-Fi
Name: Attributes, Length: 5383, dtype: object

In [7]:
restaurantes_yelp=pd.read_parquet(r"Data\Restaurants_Yelp.parquet")

In [8]:
restaurantes_yelp

,business_id,name,address,city,postal_code,latitude,longitude,stars,review_count
0,VeFfrEZ4iWaecrQg6Eq4cg,Cal Taco,"7320 Hollister Ave, Ste 1",Goleta,93117,34.430542,-119.882367,4.0,189
1,UX3eq0WsVva-cqlVrzyzFg,Cantina Los Tres Hombres,926 Victorian Ave,Sparks,89431,39.535111,-119.754857,3.0,284
2,YhQAQhG1IkXJH7oLZMbM9w,Del Taco,252 Los Altos Pkwy,Sparks,89431,39.583653,-119.740935,1.5,60
3,RCguFZat10TcbDMeeeM3IQ,El Pollo Loco,8030 S Virginia St,Reno,89511,39.455549,-119.778196,3.0,73
4,zJFs_-Qtw7fzAsrQvA3Ltw,El Carrito,340 Kietzke Ln,Reno,89502,39.525125,-119.788625,5.0,6
...,...,...,...,...,...,...,...,...,...
339,vyOVT4bcW227LRwJGHTeSw,Buena Onda,724 E Haley St,Santa Barbara,93103,34.424641,-119.686693,5.0,414
340,YQmSQs0WDwMDLmU3Yfj0jw,El Pollo Loco,2293 S Virginia St,Reno,89502,39.502898,-119.802179,2.5,84
341,Hlx8S2GLF7hMuIKx4sU-gg,Cesar's Place,712 N Milpas St,Santa Barbara,93103,34.428599,-119.688223,4.0,117
342,9vxRTTRGxX4EthzqI7QgCw,La Barca Mexican Store,"10603 Stead Blvd, Ste 1",Reno,89506,39.625956,-119.882626,4.0,60
343,y77Rf5aezhj92pi1juN93g,Cielito Lindo Taqueria,3687 Kings Row,Reno,89503,39.542663,-119.858692,4.0,253

In [9]:
restaurantes_yelp.rename(columns={'business_id': 'id_restaurant'}, inplace=True)

In [10]:
restaurantes_google=pd.read_parquet(r"Data\Restaurants_Google.parquet")

In [11]:
restaurantes_google

,name,gmap_id,description,latitude,longitude,avg_rating,num_of_reviews
0,Cowboy Burgers & BBQ,0x80c2d765f8c90a3d:0x16afb75943e7ad50,"American grub such as BBQ ribs, hamburgers, sa...",34.079995,-117.988951,3.7,38
1,Mijita,0x808f7fd770b93dfd:0x9163bc5a8883c63b,"Stadium-side eatery serving upscale, organic M...",37.778175,-122.390725,3.4,8
2,La Superior Panaderia,0x80c2c798ad41d859:0x8823cd86d2abd5b3,None,34.054542,-118.276767,4.3,30
3,Taco Shack,0x80c2d4c17351e5d5:0x25ec6df3990c5322,None,33.943177,-117.990859,4.0,18
4,Tacos Dos Primos,0x808f8f37c1b6d241:0x1b3bd5046ff3ce84,None,37.744256,-122.169827,4.7,35
...,...,...,...,...,...,...,...
1444,Taco Bell,0x80c2b82e593589a1:0x35602b6daadce0d7,Fast-food chain serving Mexican-inspired fare ...,34.011195,-118.338476,3.9,1208
1445,Alfonso's Carniceria y Taqueria,0x8094f0177b53a48f:0x1ec8610b98aa661e,None,36.575178,-119.622302,3.9,96
1446,DON SALSA'S TAQUERIA,0x809467e6d96b758f:0x6223b7df070e0610,None,36.757743,-119.817212,4.6,93
1447,Garcia's Taqueria,0x808fb670fb4cefb7:0xc6d63f9f0105d24a,No-frills taqueria draws locals with a carne a...,37.362133,-122.024330,4.1,538
1448,Lupulandia Brewing,0x808f7fd12075e32f:0x7d48cc9cd782fa6e,"Casual brewpub serving pints, cocktails & Mexi...",37.761123,-122.419133,4.6,37

In [12]:
restaurantes_google.rename(columns={'gmap_id': 'id_restaurant'}, inplace=True)

In [13]:
merged=pd.merge(atributos, restaurantes_google[["id_restaurant","name","avg_rating"]], on='id_restaurant', how='left')

In [14]:
merged.isnull().sum()

id_restaurant       0
Attribute_orig      0
Attributes          0
name              911
avg_rating        911
dtype: int64

In [15]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5383 entries, 0 to 5382
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_restaurant   5383 non-null   object
 1   Attribute_orig  5383 non-null   object
 2   Attributes      5383 non-null   object
 3   name            4472 non-null   object
 4   avg_rating      4472 non-null   float64
dtypes: float64(1), object(4)
memory usage: 252.3+ KB

In [16]:
merged2=pd.merge(merged, restaurantes_yelp[["id_restaurant","name","stars"]], on='id_restaurant', how='left')

In [17]:
merged2

,id_restaurant,Attribute_orig,Attributes,name_x,avg_rating,name_y,stars
0,0x80c2d765f8c90a3d:0x16afb75943e7ad50,Wheelchair accessible entrance,Wheelchair accessible,Cowboy Burgers & BBQ,3.7,NaN,NaN
1,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible entrance,Wheelchair accessible,Mijita,3.4,NaN,NaN
2,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible parking lot,Wheelchair accessible,Mijita,3.4,NaN,NaN
3,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible seating,Wheelchair accessible,Mijita,3.4,NaN,NaN
4,0x80c2c798ad41d859:0x8823cd86d2abd5b3,Wheelchair accessible entrance,Wheelchair accessible,La Superior Panaderia,4.3,NaN,NaN
...,...,...,...,...,...,...,...
5378,0SC3T3NilOSzSnZ3EKEqkA,WiFi,Wi-Fi,NaN,NaN,Si Amigos Mexican Restaurant,4.0
5379,EUBYSKbHB26TzCJpmP6y9A,WiFi,Wi-Fi,NaN,NaN,Gringo's,2.0
5380,ICJE_-SCNJAHDtUpK1O0nw,WiFi,Wi-Fi,NaN,NaN,Rasta Taco Catering,4.0
5381,vyOVT4bcW227LRwJGHTeSw,WiFi,Wi-Fi,NaN,NaN,Buena Onda,5.0
5382,y77Rf5aezhj92pi1juN93g,WiFi,Wi-Fi,NaN,NaN,Cielito Lindo Taqueria,4.0

In [18]:
merged2.isnull().sum()

id_restaurant        0
Attribute_orig       0
Attributes           0
name_x             911
avg_rating         911
name_y            4472
stars             4472
dtype: int64

In [19]:
merged2["id_restaurant"].nunique()

1779

In [20]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5383 entries, 0 to 5382
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_restaurant   5383 non-null   object
 1   Attribute_orig  5383 non-null   object
 2   Attributes      5383 non-null   object
 3   name_x          4472 non-null   object
 4   avg_rating      4472 non-null   float64
 5   name_y          911 non-null    object
 6   stars           911 non-null    float64
dtypes: float64(2), object(5)
memory usage: 336.4+ KB

In [22]:
atributos["id_restaurant"].nunique()

1779

In [23]:
merged2["stars"]=merged2["stars"].fillna(merged2["avg_rating"])

In [24]:
merged2.isnull().sum()

id_restaurant        0
Attribute_orig       0
Attributes           0
name_x             911
avg_rating         911
name_y            4472
stars                0
dtype: int64

In [25]:
merged2["name_y"]=merged2["name_y"].fillna(merged2["name_x"])

In [26]:
merged2.isnull().sum()

id_restaurant       0
Attribute_orig      0
Attributes          0
name_x            911
avg_rating        911
name_y              0
stars               0
dtype: int64

In [27]:
merged2.drop(["avg_rating","name_x"], axis=1, inplace=True)

In [28]:
merged2.rename(columns={'stars': 'rating'}, inplace=True)

In [29]:
merged2

,id_restaurant,Attribute_orig,Attributes,name_y,rating
0,0x80c2d765f8c90a3d:0x16afb75943e7ad50,Wheelchair accessible entrance,Wheelchair accessible,Cowboy Burgers & BBQ,3.7
1,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible entrance,Wheelchair accessible,Mijita,3.4
2,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible parking lot,Wheelchair accessible,Mijita,3.4
3,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible seating,Wheelchair accessible,Mijita,3.4
4,0x80c2c798ad41d859:0x8823cd86d2abd5b3,Wheelchair accessible entrance,Wheelchair accessible,La Superior Panaderia,4.3
...,...,...,...,...,...
5378,0SC3T3NilOSzSnZ3EKEqkA,WiFi,Wi-Fi,Si Amigos Mexican Restaurant,4.0
5379,EUBYSKbHB26TzCJpmP6y9A,WiFi,Wi-Fi,Gringo's,2.0
5380,ICJE_-SCNJAHDtUpK1O0nw,WiFi,Wi-Fi,Rasta Taco Catering,4.0
5381,vyOVT4bcW227LRwJGHTeSw,WiFi,Wi-Fi,Buena Onda,5.0
5382,y77Rf5aezhj92pi1juN93g,WiFi,Wi-Fi,Cielito Lindo Taqueria,4.0

In [30]:
dummies = pd.get_dummies(merged2['Attributes'])

In [31]:
dummies

,Delivery,Drive-through,Outdoor seating,Takeout/Takeaway,Wheelchair accessible,Wi-Fi
0,0,0,0,0,1,0
1,0,0,0,0,1,0
2,0,0,0,0,1,0
3,0,0,0,0,1,0
4,0,0,0,0,1,0
...,...,...,...,...,...,...
5378,0,0,0,0,0,1
5379,0,0,0,0,0,1
5380,0,0,0,0,0,1
5381,0,0,0,0,0,1
5382,0,0,0,0,0,1

In [32]:
df = pd.concat([merged2, dummies], axis=1)

In [33]:
df

,id_restaurant,Attribute_orig,Attributes,name_y,rating,Delivery,Drive-through,Outdoor seating,Takeout/Takeaway,Wheelchair accessible,Wi-Fi
0,0x80c2d765f8c90a3d:0x16afb75943e7ad50,Wheelchair accessible entrance,Wheelchair accessible,Cowboy Burgers & BBQ,3.7,0,0,0,0,1,0
1,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible entrance,Wheelchair accessible,Mijita,3.4,0,0,0,0,1,0
2,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible parking lot,Wheelchair accessible,Mijita,3.4,0,0,0,0,1,0
3,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Wheelchair accessible seating,Wheelchair accessible,Mijita,3.4,0,0,0,0,1,0
4,0x80c2c798ad41d859:0x8823cd86d2abd5b3,Wheelchair accessible entrance,Wheelchair accessible,La Superior Panaderia,4.3,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
5378,0SC3T3NilOSzSnZ3EKEqkA,WiFi,Wi-Fi,Si Amigos Mexican Restaurant,4.0,0,0,0,0,0,1
5379,EUBYSKbHB26TzCJpmP6y9A,WiFi,Wi-Fi,Gringo's,2.0,0,0,0,0,0,1
5380,ICJE_-SCNJAHDtUpK1O0nw,WiFi,Wi-Fi,Rasta Taco Catering,4.0,0,0,0,0,0,1
5381,vyOVT4bcW227LRwJGHTeSw,WiFi,Wi-Fi,Buena Onda,5.0,0,0,0,0,0,1
5382,y77Rf5aezhj92pi1juN93g,WiFi,Wi-Fi,Cielito Lindo Taqueria,4.0,0,0,0,0,0,1

In [34]:
df.drop(["Attributes","Attribute_orig"], axis=1, inplace=True)

In [35]:
df

,id_restaurant,name_y,rating,Delivery,Drive-through,Outdoor seating,Takeout/Takeaway,Wheelchair accessible,Wi-Fi
0,0x80c2d765f8c90a3d:0x16afb75943e7ad50,Cowboy Burgers & BBQ,3.7,0,0,0,0,1,0
1,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Mijita,3.4,0,0,0,0,1,0
2,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Mijita,3.4,0,0,0,0,1,0
3,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Mijita,3.4,0,0,0,0,1,0
4,0x80c2c798ad41d859:0x8823cd86d2abd5b3,La Superior Panaderia,4.3,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
5378,0SC3T3NilOSzSnZ3EKEqkA,Si Amigos Mexican Restaurant,4.0,0,0,0,0,0,1
5379,EUBYSKbHB26TzCJpmP6y9A,Gringo's,2.0,0,0,0,0,0,1
5380,ICJE_-SCNJAHDtUpK1O0nw,Rasta Taco Catering,4.0,0,0,0,0,0,1
5381,vyOVT4bcW227LRwJGHTeSw,Buena Onda,5.0,0,0,0,0,0,1
5382,y77Rf5aezhj92pi1juN93g,Cielito Lindo Taqueria,4.0,0,0,0,0,0,1

In [36]:
input=["id_restaurant","name_y","rating"]

In [37]:
input_restaurant = df[input]

In [38]:
input_restaurant

,id_restaurant,name_y,rating
0,0x80c2d765f8c90a3d:0x16afb75943e7ad50,Cowboy Burgers & BBQ,3.7
1,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Mijita,3.4
2,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Mijita,3.4
3,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Mijita,3.4
4,0x80c2c798ad41d859:0x8823cd86d2abd5b3,La Superior Panaderia,4.3
...,...,...,...
5378,0SC3T3NilOSzSnZ3EKEqkA,Si Amigos Mexican Restaurant,4.0
5379,EUBYSKbHB26TzCJpmP6y9A,Gringo's,2.0
5380,ICJE_-SCNJAHDtUpK1O0nw,Rasta Taco Catering,4.0
5381,vyOVT4bcW227LRwJGHTeSw,Buena Onda,5.0
5382,y77Rf5aezhj92pi1juN93g,Cielito Lindo Taqueria,4.0

In [39]:
input_restaurant["rating"]

0       3.7
1       3.4
2       3.4
3       3.4
4       4.3
       ...
5378    4.0
5379    2.0
5380    4.0
5381    5.0
5382    4.0
Name: rating, Length: 5383, dtype: float64

In [40]:
#Producto escalar para obtener los pesos
userProfile = dummies.transpose().dot(input_restaurant['rating'])
#Perfil del usuario
userProfile

Delivery                 6185.8
Drive-through             352.4
Outdoor seating          1769.2
Takeout/Takeaway         6219.6
Wheelchair accessible    6983.3
Wi-Fi                     806.4
dtype: float64

In [73]:
#Ahora llevemos los géneros de cada película al marco de datos original
genreTable = df.set_index(df['id_restaurant'])

In [75]:
genreTable = genreTable.drop(columns=['id_restaurant',"name_y","rating"])

In [76]:
genreTable

,Delivery,Drive-through,Outdoor seating,Takeout/Takeaway,Wheelchair accessible,Wi-Fi
id_restaurant,,,,,,
0x80c2d765f8c90a3d:0x16afb75943e7ad50,0,0,0,0,1,0
0x808f7fd770b93dfd:0x9163bc5a8883c63b,0,0,0,0,1,0
0x808f7fd770b93dfd:0x9163bc5a8883c63b,0,0,0,0,1,0
0x808f7fd770b93dfd:0x9163bc5a8883c63b,0,0,0,0,1,0
0x80c2c798ad41d859:0x8823cd86d2abd5b3,0,0,0,0,1,0
...,...,...,...,...,...,...
0SC3T3NilOSzSnZ3EKEqkA,0,0,0,0,0,1
EUBYSKbHB26TzCJpmP6y9A,0,0,0,0,0,1
ICJE_-SCNJAHDtUpK1O0nw,0,0,0,0,0,1
vyOVT4bcW227LRwJGHTeSw,0,0,0,0,0,1
y77Rf5aezhj92pi1juN93g,0,0,0,0,0,1

In [360]:
genreTable.shape

(5383, 8)

In [79]:
#Multiplicando los géneros por los pesos para luego calcular el peso promedio
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())

recommendationTable_df.head()

id_restaurant
0x80c2d765f8c90a3d:0x16afb75943e7ad50    0.312918
0x808f7fd770b93dfd:0x9163bc5a8883c63b    0.312918
0x808f7fd770b93dfd:0x9163bc5a8883c63b    0.312918
0x808f7fd770b93dfd:0x9163bc5a8883c63b    0.312918
0x80c2c798ad41d859:0x8823cd86d2abd5b3    0.312918
dtype: float64

In [80]:
(genreTable*userProfile)

,Delivery,Drive-through,Outdoor seating,Takeout/Takeaway,Wheelchair accessible,Wi-Fi
id_restaurant,,,,,,
0x80c2d765f8c90a3d:0x16afb75943e7ad50,0.0,0.0,0.0,0.0,6983.3,0.0
0x808f7fd770b93dfd:0x9163bc5a8883c63b,0.0,0.0,0.0,0.0,6983.3,0.0
0x808f7fd770b93dfd:0x9163bc5a8883c63b,0.0,0.0,0.0,0.0,6983.3,0.0
0x808f7fd770b93dfd:0x9163bc5a8883c63b,0.0,0.0,0.0,0.0,6983.3,0.0
0x80c2c798ad41d859:0x8823cd86d2abd5b3,0.0,0.0,0.0,0.0,6983.3,0.0
...,...,...,...,...,...,...
0SC3T3NilOSzSnZ3EKEqkA,0.0,0.0,0.0,0.0,0.0,806.4
EUBYSKbHB26TzCJpmP6y9A,0.0,0.0,0.0,0.0,0.0,806.4
ICJE_-SCNJAHDtUpK1O0nw,0.0,0.0,0.0,0.0,0.0,806.4
vyOVT4bcW227LRwJGHTeSw,0.0,0.0,0.0,0.0,0.0,806.4
y77Rf5aezhj92pi1juN93g,0.0,0.0,0.0,0.0,0.0,806.4

In [84]:
userProfile.sum()

22316.700000000008

In [83]:
(genreTable*userProfile).sum(axis=1)

id_restaurant
0x80c2d765f8c90a3d:0x16afb75943e7ad50    6983.3
0x808f7fd770b93dfd:0x9163bc5a8883c63b    6983.3
0x808f7fd770b93dfd:0x9163bc5a8883c63b    6983.3
0x808f7fd770b93dfd:0x9163bc5a8883c63b    6983.3
0x80c2c798ad41d859:0x8823cd86d2abd5b3    6983.3
                                          ...
0SC3T3NilOSzSnZ3EKEqkA                    806.4
EUBYSKbHB26TzCJpmP6y9A                    806.4
ICJE_-SCNJAHDtUpK1O0nw                    806.4
vyOVT4bcW227LRwJGHTeSw                    806.4
y77Rf5aezhj92pi1juN93g                    806.4
Length: 5383, dtype: float64

In [96]:
#Ordena nuestra recomendación en orden descendente

recommendationTable_df = recommendationTable_df.sort_values(ascending=False)

#Miremos los valores

recommendationTable_df

id_restaurant
0x80c2d765f8c90a3d:0x16afb75943e7ad50    0.312918
0x80dc741d681c6827:0x9a714e9fead1d52f    0.312918
0x808283a78031bad9:0x35403f37dd36843d    0.312918
0x808283a78031bad9:0x35403f37dd36843d    0.312918
0x808e3356209950d3:0x300e8412960d6ee1    0.312918
                                           ...
0x809adf66cac603cb:0x9c1f919fac7f4b80    0.015791
0x80c2d765f8c90a3d:0x16afb75943e7ad50    0.015791
SMJkOa60d1fmAyNWeSPfOg                   0.015791
2Qfh6SO3pikeGUJyv4B5RA                   0.015791
0x80db21e34b07fa5f:0xa943be996fe91025    0.015791
Length: 5383, dtype: float64

In [101]:
#Tabla de recomendaciones final
recomendaciones=df.loc[df['id_restaurant'].isin(recommendationTable_df.head().keys())]

In [102]:
dffinal=recomendaciones[["name_y","rating"]].drop_duplicates()

In [103]:
dffinal

                      name_y  rating
0       Cowboy Burgers & BBQ     3.7
1090   Rubio's Coastal Grill     4.3
1101                Del Taco     3.5
1114  Puerto Azul Restaurant     4.0

In [61]:
recommendationTable_df.head().keys()

Index(['0x80c2d765f8c90a3d:0x16afb75943e7ad50',
       '0x808fccbc7fd94e7b:0xec9f7d54bc5d16ce',
       '0x808fccbc7fd94e7b:0xec9f7d54bc5d16ce',
       '0x808327b5d6b7d4df:0xa24ae97f9dcfc9fd',
       '0x80e915447d06cb7f:0xb2d8d13b5897954e'],
      dtype='object', name='id_restaurant')