In [139]:
import pandas as pd
import nltk # importo la libreria "nltk" para realizar el analisis de sentimiento

In [140]:
nltk.download("vader_lexicon")
#guardo la funcion que necesito en una variable
sia = SentimentIntensityAnalyzer() 

def get_sentiment_score(text):
    if pd.isnull(text) or text == '':
        return 0  # devuelve 0 si encontramos vacios o Nan
    elif isinstance(text, str):
        sentiment = sia.polarity_scores(text)
        compound_score = sentiment["compound"]
        return compound_score

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Vivobook\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [141]:
reviewY = pd.read_parquet(r"Data\Reviews_Yelp.finalparquet")

In [142]:
reviewY

,review_id,user_id,business_id,stars,text,date
0,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,"If I could give it a zero, I would. I order a ...",2011-08-24
1,TgDp1TErom3UNglKhDy2uw,zUB7xoTlhbg7_ofHg8Qp0w,W8Z4rXYkmZlEVSaxIVjyvg,5,A truly delightful find! This is the transform...,2017-08-16
2,4hi2jgnEhwaKfFiZ_Tz4Hw,VOWlOVEBg9LoHykSBue7EA,6kPHr6gZaU9732ptn9gJrA,4,New owners turned it into a double threat: Bad...,2014-07-28
3,yBcQi45-vXf9MeZS9ZXBmw,WGuhb1GYI_13pX_e92A7zg,VeFfrEZ4iWaecrQg6Eq4cg,4,The burgers are amazing! French fries are dece...,2012-11-07
4,P6Kbftcn5GwvIo2xQyXFBg,fSR8LJJ0Aa3w8HoaGyXYCA,UX3eq0WsVva-cqlVrzyzFg,5,"Yummy food, they will veganize things for you...",2013-12-28
...,...,...,...,...,...,...
62008,qyEZnoPrb0HEkfVmAd95RA,BkpsRVXrSgXZXXReDMcwkw,6XCjqn2qDDdVTDyzKde1gw,5,Absolutely excellent. Fantastic taste. Great s...,2019-01-13
62009,74ZyoSzZ9QnfcQMdladLdQ,mMtTHNOef-mTuqRouPJR2Q,y77Rf5aezhj92pi1juN93g,4,I have been seeing this place all over the Ren...,2020-08-31
62010,-ThYStgy0zFNTp2J9BndCg,eJ1Wb-a-cDtMOzC6qxjxgA,SQLR69gbo44FL1zhGA4sIA,5,Loco Ono is probably our favorite poke spot. R...,2022-01-06
62011,NxzOAsRXwO1OqEPfthVX7w,XIkX0MgnhndkqVNQGOK4ig,KSYONgGtrK0nKXfroB-bwg,2,My table got so many weird looks from the empl...,2021-10-21
62012,UKSGqYVh1g5opUOM4FLIlQ,ut4UutJ_wDVkSaJtf9Ic3A,iT78kOB6Ja3BJQdYipPa5g,5,Amazing dishes & great customer service! This ...,2021-11-24

In [143]:
reviewY["sentiment"] = reviewY["text"].apply(get_sentiment_score)

In [144]:
reviewY["sentiment"].value_counts()

 0.0000    496
 0.6369    152
 0.4404    130
 0.8519    109
 0.6249    107
          ...
 0.5979      1
-0.2528      1
 0.0052      1
 0.6880      1
-0.5840      1
Name: sentiment, Length: 9378, dtype: int64

In [145]:
reviewY

,review_id,user_id,business_id,stars,text,date,sentiment
0,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,"If I could give it a zero, I would. I order a ...",2011-08-24,-0.8879
1,TgDp1TErom3UNglKhDy2uw,zUB7xoTlhbg7_ofHg8Qp0w,W8Z4rXYkmZlEVSaxIVjyvg,5,A truly delightful find! This is the transform...,2017-08-16,0.9926
2,4hi2jgnEhwaKfFiZ_Tz4Hw,VOWlOVEBg9LoHykSBue7EA,6kPHr6gZaU9732ptn9gJrA,4,New owners turned it into a double threat: Bad...,2014-07-28,-0.8625
3,yBcQi45-vXf9MeZS9ZXBmw,WGuhb1GYI_13pX_e92A7zg,VeFfrEZ4iWaecrQg6Eq4cg,4,The burgers are amazing! French fries are dece...,2012-11-07,0.6239
4,P6Kbftcn5GwvIo2xQyXFBg,fSR8LJJ0Aa3w8HoaGyXYCA,UX3eq0WsVva-cqlVrzyzFg,5,"Yummy food, they will veganize things for you...",2013-12-28,0.9758
...,...,...,...,...,...,...,...
62008,qyEZnoPrb0HEkfVmAd95RA,BkpsRVXrSgXZXXReDMcwkw,6XCjqn2qDDdVTDyzKde1gw,5,Absolutely excellent. Fantastic taste. Great s...,2019-01-13,0.9857
62009,74ZyoSzZ9QnfcQMdladLdQ,mMtTHNOef-mTuqRouPJR2Q,y77Rf5aezhj92pi1juN93g,4,I have been seeing this place all over the Ren...,2020-08-31,0.9264
62010,-ThYStgy0zFNTp2J9BndCg,eJ1Wb-a-cDtMOzC6qxjxgA,SQLR69gbo44FL1zhGA4sIA,5,Loco Ono is probably our favorite poke spot. R...,2022-01-06,0.9856
62011,NxzOAsRXwO1OqEPfthVX7w,XIkX0MgnhndkqVNQGOK4ig,KSYONgGtrK0nKXfroB-bwg,2,My table got so many weird looks from the empl...,2021-10-21,-0.8273
62012,UKSGqYVh1g5opUOM4FLIlQ,ut4UutJ_wDVkSaJtf9Ic3A,iT78kOB6Ja3BJQdYipPa5g,5,Amazing dishes & great customer service! This ...,2021-11-24,0.9824

In [146]:
reviewY["rating"]=reviewY["stars"]*reviewY["sentiment"]

In [147]:
reviewY

,review_id,user_id,business_id,stars,text,date,sentiment,rating
0,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,"If I could give it a zero, I would. I order a ...",2011-08-24,-0.8879,-0.8879
1,TgDp1TErom3UNglKhDy2uw,zUB7xoTlhbg7_ofHg8Qp0w,W8Z4rXYkmZlEVSaxIVjyvg,5,A truly delightful find! This is the transform...,2017-08-16,0.9926,4.9630
2,4hi2jgnEhwaKfFiZ_Tz4Hw,VOWlOVEBg9LoHykSBue7EA,6kPHr6gZaU9732ptn9gJrA,4,New owners turned it into a double threat: Bad...,2014-07-28,-0.8625,-3.4500
3,yBcQi45-vXf9MeZS9ZXBmw,WGuhb1GYI_13pX_e92A7zg,VeFfrEZ4iWaecrQg6Eq4cg,4,The burgers are amazing! French fries are dece...,2012-11-07,0.6239,2.4956
4,P6Kbftcn5GwvIo2xQyXFBg,fSR8LJJ0Aa3w8HoaGyXYCA,UX3eq0WsVva-cqlVrzyzFg,5,"Yummy food, they will veganize things for you...",2013-12-28,0.9758,4.8790
...,...,...,...,...,...,...,...,...
62008,qyEZnoPrb0HEkfVmAd95RA,BkpsRVXrSgXZXXReDMcwkw,6XCjqn2qDDdVTDyzKde1gw,5,Absolutely excellent. Fantastic taste. Great s...,2019-01-13,0.9857,4.9285
62009,74ZyoSzZ9QnfcQMdladLdQ,mMtTHNOef-mTuqRouPJR2Q,y77Rf5aezhj92pi1juN93g,4,I have been seeing this place all over the Ren...,2020-08-31,0.9264,3.7056
62010,-ThYStgy0zFNTp2J9BndCg,eJ1Wb-a-cDtMOzC6qxjxgA,SQLR69gbo44FL1zhGA4sIA,5,Loco Ono is probably our favorite poke spot. R...,2022-01-06,0.9856,4.9280
62011,NxzOAsRXwO1OqEPfthVX7w,XIkX0MgnhndkqVNQGOK4ig,KSYONgGtrK0nKXfroB-bwg,2,My table got so many weird looks from the empl...,2021-10-21,-0.8273,-1.6546
62012,UKSGqYVh1g5opUOM4FLIlQ,ut4UutJ_wDVkSaJtf9Ic3A,iT78kOB6Ja3BJQdYipPa5g,5,Amazing dishes & great customer service! This ...,2021-11-24,0.9824,4.9120

In [169]:
reviewY.to_parquet(r"Data\reviewYelpSentiment.parquet")

In [171]:
sentiY = pd.read_parquet(r"Data\reviewYelpSentiment.parquet")

In [172]:
sentiY

,review_id,user_id,business_id,stars,text,date,sentiment,rating
0,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,"If I could give it a zero, I would. I order a ...",2011-08-24,-0.8879,-0.8879
1,TgDp1TErom3UNglKhDy2uw,zUB7xoTlhbg7_ofHg8Qp0w,W8Z4rXYkmZlEVSaxIVjyvg,5,A truly delightful find! This is the transform...,2017-08-16,0.9926,4.9630
2,4hi2jgnEhwaKfFiZ_Tz4Hw,VOWlOVEBg9LoHykSBue7EA,6kPHr6gZaU9732ptn9gJrA,4,New owners turned it into a double threat: Bad...,2014-07-28,-0.8625,-3.4500
3,yBcQi45-vXf9MeZS9ZXBmw,WGuhb1GYI_13pX_e92A7zg,VeFfrEZ4iWaecrQg6Eq4cg,4,The burgers are amazing! French fries are dece...,2012-11-07,0.6239,2.4956
4,P6Kbftcn5GwvIo2xQyXFBg,fSR8LJJ0Aa3w8HoaGyXYCA,UX3eq0WsVva-cqlVrzyzFg,5,"Yummy food, they will veganize things for you...",2013-12-28,0.9758,4.8790
...,...,...,...,...,...,...,...,...
62008,qyEZnoPrb0HEkfVmAd95RA,BkpsRVXrSgXZXXReDMcwkw,6XCjqn2qDDdVTDyzKde1gw,5,Absolutely excellent. Fantastic taste. Great s...,2019-01-13,0.9857,4.9285
62009,74ZyoSzZ9QnfcQMdladLdQ,mMtTHNOef-mTuqRouPJR2Q,y77Rf5aezhj92pi1juN93g,4,I have been seeing this place all over the Ren...,2020-08-31,0.9264,3.7056
62010,-ThYStgy0zFNTp2J9BndCg,eJ1Wb-a-cDtMOzC6qxjxgA,SQLR69gbo44FL1zhGA4sIA,5,Loco Ono is probably our favorite poke spot. R...,2022-01-06,0.9856,4.9280
62011,NxzOAsRXwO1OqEPfthVX7w,XIkX0MgnhndkqVNQGOK4ig,KSYONgGtrK0nKXfroB-bwg,2,My table got so many weird looks from the empl...,2021-10-21,-0.8273,-1.6546
62012,UKSGqYVh1g5opUOM4FLIlQ,ut4UutJ_wDVkSaJtf9Ic3A,iT78kOB6Ja3BJQdYipPa5g,5,Amazing dishes & great customer service! This ...,2021-11-24,0.9824,4.9120

In [148]:
Categorias_reviewY = pd.read_parquet(r"Data\Categories_restaurants.parquet")

In [149]:
Categorias_reviewY

,restaurant_id,subcategory,category
0,0x80c2d765f8c90a3d:0x16afb75943e7ad50,Mexican restaurant,Mexican restaurant
1,0x808f7fd770b93dfd:0x9163bc5a8883c63b,Mexican restaurant,Mexican restaurant
2,0x80c2c798ad41d859:0x8823cd86d2abd5b3,Mexican restaurant,Mexican restaurant
3,0x80c2d4c17351e5d5:0x25ec6df3990c5322,Latin American restaurant,Latin American restaurant
4,0x80c2d4c17351e5d5:0x25ec6df3990c5322,Mexican restaurant,Mexican restaurant
...,...,...,...
2254,YQmSQs0WDwMDLmU3Yfj0jw,Mexican,Mexican restaurant
2255,Hlx8S2GLF7hMuIKx4sU-gg,Mexican,Mexican restaurant
2256,9vxRTTRGxX4EthzqI7QgCw,Mexican,Mexican restaurant
2257,y77Rf5aezhj92pi1juN93g,Mexican,Mexican restaurant
2258,y77Rf5aezhj92pi1juN93g,New Mexican Cuisine,Mexican restaurant

In [150]:
Categorias_reviewY.rename(columns={"restaurant_id": "business_id"}, inplace=True)

In [151]:
merged = reviewY.merge(Categorias_reviewY, on="business_id", how="inner")

In [152]:
merged

,review_id,user_id,business_id,stars,text,date,sentiment,rating,subcategory,category
0,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,"If I could give it a zero, I would. I order a ...",2011-08-24,-0.8879,-0.8879,Mexican,Mexican restaurant
1,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,"If I could give it a zero, I would. I order a ...",2011-08-24,-0.8879,-0.8879,Tacos,Mexican restaurant
2,GXOQbBpdGHdHOJ-YKm91BQ,YLtStLD6NVX8dgfWCY7FlA,Wy8Hswf2cLQGRZN6armkag,3,Place for latest night eats around and drive t...,2017-09-08,0.0000,0.0000,Mexican,Mexican restaurant
3,GXOQbBpdGHdHOJ-YKm91BQ,YLtStLD6NVX8dgfWCY7FlA,Wy8Hswf2cLQGRZN6armkag,3,Place for latest night eats around and drive t...,2017-09-08,0.0000,0.0000,Tacos,Mexican restaurant
4,mqjhJMhlR_qmpVkc51WKYQ,VQdIO6g3Fxs5jX898SsX7Q,Wy8Hswf2cLQGRZN6armkag,1,This place has the worst customer service. My ...,2015-04-16,0.8205,0.8205,Mexican,Mexican restaurant
...,...,...,...,...,...,...,...,...,...,...
81014,JRB-tp-_5ZC9SuGRmsc09A,OtDSogmoXCTVDIGYHADz0Q,GRmG8w-guTT3Wp-MoRSQpA,3,I love their food but their hours are terrible...,2021-11-09,-0.6072,-1.8216,Tacos,Mexican restaurant
81015,u24N6e3MZTQTyr5jKvst6A,pneFgKRXVZUZU-yJpsR03A,GRmG8w-guTT3Wp-MoRSQpA,5,This place should be absolutely packed. Most a...,2021-07-09,0.6884,3.4420,Mexican,Mexican restaurant
81016,u24N6e3MZTQTyr5jKvst6A,pneFgKRXVZUZU-yJpsR03A,GRmG8w-guTT3Wp-MoRSQpA,5,This place should be absolutely packed. Most a...,2021-07-09,0.6884,3.4420,Tacos,Mexican restaurant
81017,hvJtITc7fTobIIzTpVX4kg,kRxkkssqGmequBM7VOnNWQ,GRmG8w-guTT3Wp-MoRSQpA,1,Second attempt to try to give this establishme...,2020-06-30,0.8605,0.8605,Mexican,Mexican restaurant
81018,hvJtITc7fTobIIzTpVX4kg,kRxkkssqGmequBM7VOnNWQ,GRmG8w-guTT3Wp-MoRSQpA,1,Second attempt to try to give this establishme...,2020-06-30,0.8605,0.8605,Tacos,Mexican restaurant

In [153]:
Restaurantes_reviewY = pd.read_parquet(r"Data\Restaurants_Yelp.parquet")

In [156]:
Restaurantes_reviewY

,business_id,name,address,city,postal_code,latitude,longitude,stars,review_count
0,VeFfrEZ4iWaecrQg6Eq4cg,Cal Taco,"7320 Hollister Ave, Ste 1",Goleta,93117,34.430542,-119.882367,4.0,189
1,UX3eq0WsVva-cqlVrzyzFg,Cantina Los Tres Hombres,926 Victorian Ave,Sparks,89431,39.535111,-119.754857,3.0,284
2,YhQAQhG1IkXJH7oLZMbM9w,Del Taco,252 Los Altos Pkwy,Sparks,89431,39.583653,-119.740935,1.5,60
3,RCguFZat10TcbDMeeeM3IQ,El Pollo Loco,8030 S Virginia St,Reno,89511,39.455549,-119.778196,3.0,73
4,zJFs_-Qtw7fzAsrQvA3Ltw,El Carrito,340 Kietzke Ln,Reno,89502,39.525125,-119.788625,5.0,6
...,...,...,...,...,...,...,...,...,...
339,vyOVT4bcW227LRwJGHTeSw,Buena Onda,724 E Haley St,Santa Barbara,93103,34.424641,-119.686693,5.0,414
340,YQmSQs0WDwMDLmU3Yfj0jw,El Pollo Loco,2293 S Virginia St,Reno,89502,39.502898,-119.802179,2.5,84
341,Hlx8S2GLF7hMuIKx4sU-gg,Cesar's Place,712 N Milpas St,Santa Barbara,93103,34.428599,-119.688223,4.0,117
342,9vxRTTRGxX4EthzqI7QgCw,La Barca Mexican Store,"10603 Stead Blvd, Ste 1",Reno,89506,39.625956,-119.882626,4.0,60
343,y77Rf5aezhj92pi1juN93g,Cielito Lindo Taqueria,3687 Kings Row,Reno,89503,39.542663,-119.858692,4.0,253

In [159]:
Restaurantes_reviewY=Restaurantes_reviewY[['business_id','name','city']]

In [160]:
merged_final = merged.merge(Restaurantes_reviewY, on="business_id", how="inner")

In [161]:
merged_final

,review_id,user_id,business_id,stars,text,date,sentiment,rating,subcategory,category,name,city
0,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,"If I could give it a zero, I would. I order a ...",2011-08-24,-0.8879,-0.8879,Mexican,Mexican restaurant,Jack in the Box,Goleta
1,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,"If I could give it a zero, I would. I order a ...",2011-08-24,-0.8879,-0.8879,Tacos,Mexican restaurant,Jack in the Box,Goleta
2,GXOQbBpdGHdHOJ-YKm91BQ,YLtStLD6NVX8dgfWCY7FlA,Wy8Hswf2cLQGRZN6armkag,3,Place for latest night eats around and drive t...,2017-09-08,0.0000,0.0000,Mexican,Mexican restaurant,Jack in the Box,Goleta
3,GXOQbBpdGHdHOJ-YKm91BQ,YLtStLD6NVX8dgfWCY7FlA,Wy8Hswf2cLQGRZN6armkag,3,Place for latest night eats around and drive t...,2017-09-08,0.0000,0.0000,Tacos,Mexican restaurant,Jack in the Box,Goleta
4,mqjhJMhlR_qmpVkc51WKYQ,VQdIO6g3Fxs5jX898SsX7Q,Wy8Hswf2cLQGRZN6armkag,1,This place has the worst customer service. My ...,2015-04-16,0.8205,0.8205,Mexican,Mexican restaurant,Jack in the Box,Goleta
...,...,...,...,...,...,...,...,...,...,...,...,...
81014,JRB-tp-_5ZC9SuGRmsc09A,OtDSogmoXCTVDIGYHADz0Q,GRmG8w-guTT3Wp-MoRSQpA,3,I love their food but their hours are terrible...,2021-11-09,-0.6072,-1.8216,Tacos,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks
81015,u24N6e3MZTQTyr5jKvst6A,pneFgKRXVZUZU-yJpsR03A,GRmG8w-guTT3Wp-MoRSQpA,5,This place should be absolutely packed. Most a...,2021-07-09,0.6884,3.4420,Mexican,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks
81016,u24N6e3MZTQTyr5jKvst6A,pneFgKRXVZUZU-yJpsR03A,GRmG8w-guTT3Wp-MoRSQpA,5,This place should be absolutely packed. Most a...,2021-07-09,0.6884,3.4420,Tacos,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks
81017,hvJtITc7fTobIIzTpVX4kg,kRxkkssqGmequBM7VOnNWQ,GRmG8w-guTT3Wp-MoRSQpA,1,Second attempt to try to give this establishme...,2020-06-30,0.8605,0.8605,Mexican,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks
81018,hvJtITc7fTobIIzTpVX4kg,kRxkkssqGmequBM7VOnNWQ,GRmG8w-guTT3Wp-MoRSQpA,1,Second attempt to try to give this establishme...,2020-06-30,0.8605,0.8605,Tacos,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks

In [162]:
merged_final.drop(columns=["review_id","stars","text","sentiment","subcategory","date"], inplace=True)

In [163]:
merged_final

,user_id,business_id,rating,category,name,city
0,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,-0.8879,Mexican restaurant,Jack in the Box,Goleta
1,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,-0.8879,Mexican restaurant,Jack in the Box,Goleta
2,YLtStLD6NVX8dgfWCY7FlA,Wy8Hswf2cLQGRZN6armkag,0.0000,Mexican restaurant,Jack in the Box,Goleta
3,YLtStLD6NVX8dgfWCY7FlA,Wy8Hswf2cLQGRZN6armkag,0.0000,Mexican restaurant,Jack in the Box,Goleta
4,VQdIO6g3Fxs5jX898SsX7Q,Wy8Hswf2cLQGRZN6armkag,0.8205,Mexican restaurant,Jack in the Box,Goleta
...,...,...,...,...,...,...
81014,OtDSogmoXCTVDIGYHADz0Q,GRmG8w-guTT3Wp-MoRSQpA,-1.8216,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks
81015,pneFgKRXVZUZU-yJpsR03A,GRmG8w-guTT3Wp-MoRSQpA,3.4420,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks
81016,pneFgKRXVZUZU-yJpsR03A,GRmG8w-guTT3Wp-MoRSQpA,3.4420,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks
81017,kRxkkssqGmequBM7VOnNWQ,GRmG8w-guTT3Wp-MoRSQpA,0.8605,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks
81018,kRxkkssqGmequBM7VOnNWQ,GRmG8w-guTT3Wp-MoRSQpA,0.8605,Mexican restaurant,Los Famosos Pillulles Tacos,Sparks

In [164]:
merged_final["rating"]=merged_final["rating"].sort_values(ascending=False).reset_index(drop=True)

In [165]:
merged_final.head(10)

,user_id,business_id,rating,category,name,city
0,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,4.9990,Mexican restaurant,Jack in the Box,Goleta
1,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,4.9990,Mexican restaurant,Jack in the Box,Goleta
2,YLtStLD6NVX8dgfWCY7FlA,Wy8Hswf2cLQGRZN6armkag,4.9985,Mexican restaurant,Jack in the Box,Goleta
3,YLtStLD6NVX8dgfWCY7FlA,Wy8Hswf2cLQGRZN6armkag,4.9985,Mexican restaurant,Jack in the Box,Goleta
4,VQdIO6g3Fxs5jX898SsX7Q,Wy8Hswf2cLQGRZN6armkag,4.9985,Mexican restaurant,Jack in the Box,Goleta
5,VQdIO6g3Fxs5jX898SsX7Q,Wy8Hswf2cLQGRZN6armkag,4.9980,Mexican restaurant,Jack in the Box,Goleta
6,G2XTeQkJDGksAa4dOiATxw,Wy8Hswf2cLQGRZN6armkag,4.9980,Mexican restaurant,Jack in the Box,Goleta
7,G2XTeQkJDGksAa4dOiATxw,Wy8Hswf2cLQGRZN6armkag,4.9980,Mexican restaurant,Jack in the Box,Goleta
8,t6oMDTL1KhmVdQz4phXxVA,Wy8Hswf2cLQGRZN6armkag,4.9980,Mexican restaurant,Jack in the Box,Goleta
9,t6oMDTL1KhmVdQz4phXxVA,Wy8Hswf2cLQGRZN6armkag,4.9975,Mexican restaurant,Jack in the Box,Goleta

In [166]:
merged_final.to_parquet(r"Data\Yelp.parquet")