In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('SPOILER_Restaurants_Reviews_merged.csv')

In [3]:
df.head(2)

,id_restaurant,name,city,rating,num_of_reviews,category
0,0x14e1b0df6d819dab:0x928b6349b7fbe2f4,Tacos MX,Los Angeles,1.9,30,['Mexican restaurant']
1,0x54ce4585d5d87485:0x3fc873627fddcaa,Josefina’s taqueria,Yreka,3.3,12,['Mexican restaurant']

In [4]:
df= df.drop(columns='id_restaurant')

In [5]:
df.head(2)

,name,city,rating,num_of_reviews,category
0,Tacos MX,Los Angeles,1.9,30,['Mexican restaurant']
1,Josefina’s taqueria,Yreka,3.3,12,['Mexican restaurant']

In [6]:
df_final= df.to_csv('SPOILER_Restaurants_Reviews_merged.csv', index=False)